
body{
    background: rgb(52, 52, 52);
    margin:0 auto;
}
/* background layers */
.backgroundlayerone{
    width: 100dvw;
    height: 100dvh;
    background: repeating-linear-gradient(45deg, transparent, transparent 67px, #5d5d5d 70px);
    position: absolute;
}
.backgroundlayertwo{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(135deg, transparent, transparent 67px, #5d5d5d 70px);
    justify-content: center;
    align-items: center;
    display: flex;
}
/* navbar content */
.navbar{
    color: whitesmoke;
    width: 100dvw;
    height: 50px;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5px;
    padding: 5px;
}

.navbar-sub-container{
    background-color: rgba(23, 23, 23, 0.9);
    border-radius: 50px;
    padding: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);  
}

.navbar-link{
    text-decoration: none;
    color: whitesmoke;
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
}
/* section container = 4  */
.container-content{
    background-color: rgba(23, 23, 23, 0.7);
    width: 95dvw;
    height: auto;
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: whitesmoke;
    box-shadow: 0 0 5px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    top: 570px;
    border-radius: 5px;
    border: 1px solid black;
}
.containerA:nth-child(2){
    background-color: white;
    color: black;
    box-shadow: 0 0 10px black;
}
/* image content */

.image-container{
    top: 70px;
    position: fixed;
}
.image{
    height: 400px;
    width: 5; 
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;

}
/* about me and work history section */
.containerA{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.content{
    width: 500px;
    margin: 2.5%;
}
.name{
    color: aliceblue;
    text-align: center;
}