/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  background: repeating-linear-gradient(
    45deg,
    rgb(43, 43, 43),
    rgb(68, 68, 68) 40dvw,
    rgb(38, 37, 37) 5dvi
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 15;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 10px;
  text-decoration: none;
  color: #b5b5b5;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin-right: 15px;
}

nav a:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.2);
  transition: all 0.5s cubic-bezier(0.155, 0.75, 0.52, 1.25);
}

nav li:first-child {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 20px;
}

/* Image styles */
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  object-fit: cover;
}

/* Navbar link styles */
.navbar-link {

}

/* Sidebar styles */
.sidebar {
  background-color: rgba(36, 36, 36, 0.476);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0.5dvi);

}

/* Header styles */
h1, .seethrough {
  margin: 20px;
  text-align: end;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black;
}

/* Content container styles */
#contentContainer {
  background-color: rgba(170, 170, 170, 0.642);
  margin-top: 120px;
  width: 80%;
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(1dvi);
  -webkit-backdrop-filter: blur(0.5dvi);
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(155, 155, 155);
}

#contentContainer:hover {
  box-shadow: 0 0 10px black;
}

/* Content styles */
.content {
  width: 70%;
  height: auto;
  color: #2d2d2d;
}

/* List styles */
.edlist {
  display: flex;
  flex-wrap: wrap;
  color: rgb(66, 66, 66);
}

.list {
  padding: 10px;
  display: flex;
}

/* Image styles */
.image {
  width: 26dvi;
  height: 30dvi;
  border-radius: 5px;
  margin: 10px;
  flex-wrap: wrap;
  object-fit: cover;
}

/* Content alignment styles */
.contenta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Quote styles */
.quote {
  padding: 50px;
  color: rgb(49, 49, 49);
}

/* Horizontal rule styles */
hr {
  width: 58dvi;
}

/* Heading 2 styles */
h2 {
  text-align: center;
}

/* Responsive styles */
@media (max-width: 500px) {
  .hideOnSMScreen {
    display: none;
  }

  body {
    padding-top: 120px;
  }

  .image {
    width: 60dvi;
    height: 60dvi;
    border-radius: 5px;
    margin: 10px;
    flex-wrap: wrap;
  }

  nav li:first-child {
    display: flex;
    padding-left: 15%;
  }
}

@media (min-width: 450px) {
  #showmenu {
    display: none;
  }
}